body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: var(--background);
}

form {
    background: none;
    box-shadow: none;
    padding: 0;
}

.login-container {
    width: 350px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding: 30px;
    border-radius: 12px;
}

.login-container h2 {
    text-align: center;
    color: var(--principal);
    margin-bottom: 20px;
}

.login-container .links {
    text-align: center;
    margin-top: 15px;
}

.login-container .links a {
    color: var(--principal);
    margin: 0 5px;
    font-size: 0.9rem;
    text-decoration: none;
}

.login-container .links a:hover {
    text-decoration: underline;
}
