/* Ajustes específicos de esta página */
header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reportes {
    top: 70px;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cancelar {
    background-color: var(--principal-light);
}

.footer-container {
    background-color: var(--principal);
}