h2 {
    text-align: left;
}

.estado {
    padding: 5px 10px;
    min-width: 80px;
}

.borrador {
    background-color: rgb(151, 151, 151);
}

.reportes {
    top: 50px;
    bottom: 100px;
    padding: 10px;
}

form {
    width: 80%;
    margin: 30px auto;
}

main {
    border-radius: 0;
    bottom: 70px;
    top: 50px;
}