body {
    --modo-fecha: "desktop";
}

.acciones button {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-right: 5px;
    border: none;
}

.btn-aprobar {
    background-color: lightgreen;
    color: white;
}

.btn-rechazar {
    background-color: lightcoral;
    color: white;
}

.btn-ver {
    background-color: rgb(151, 151, 151);
    color: white;
}

.acciones button:hover {
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    table th:nth-child(3), table td:nth-child(3),
    table th:nth-child(4), table td:nth-child(4),
    table th:nth-child(5), table td:nth-child(5) {
        display: none;
    }

    table td:nth-child(1) {
        position: relative;
        padding-left: 30px !important;
    }

    table td:nth-child(1)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 6px;
        background-color: var(--color-estado, #ccc);
    }

    table tr:has(.borrador)  { --color-estado: rgb(151, 151, 151); }
    table tr:has(.pendiente) { --color-estado: lightsalmon; }
    table tr:has(.enviado)   { --color-estado: lightskyblue; }
    table tr:has(.aprobado)  { --color-estado: lightgreen; }
    table tr:has(.rechazado) { --color-estado: lightcoral; }

    td.acciones {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 2px;
        padding: 15px 0 !important;
        width: 60px !important; 
        min-width: 60px;
        margin-left: 25px;
    }

    .acciones button {
        margin-left: 0 !important; 
        
        width: 32px;
        height: 32px;
        padding: 5px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}