.acciones button {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-right: 5px;
    border: none;
}

.btn-aprobar {
    background-color: lightgreen;
    color: white;
}

.btn-rechazar {
    background-color: lightcoral;
    color: white;
}

.btn-ver {
    background-color: rgb(151, 151, 151);
    color: white;
}

.acciones button:hover {
    transition: all 0.3s ease;
}