.reportes {
    padding: 20px;
    overflow-y: auto;
    background-color: white;
    border-radius: 12px;
    top: 70px;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cancelar {
    background-color: var(--principal-light);
}