:root {
    --principal: rgb(10, 117, 107);
    --principal-dark: rgb(2, 95, 86);
    --principal-light: rgb(100, 197, 182);
    --succes-borde: rgb(100, 197, 108);
    --succes: rgba(100, 197, 132, 0.33);

    --background: var(--white);
    --background-main: var(--white );
    --background-login: linear-gradient(var(--principal-dark), var(--principal-light));
    --background-form: var(--white );
    --background-input: var(--white );
    --background-input-disabled: #c7c7c7;
    --font-color-title: var(--white);
    --font-color-main: var(--black);
    --button-hover: goldenrod;
    --white: #f1f1f1;
    --black: #333;
    --logout-button: rgb(182, 0, 0);
    --logout-button-hover: rgb(136, 0, 0);
}

:root.sel {
    --principal: rgb(66, 66, 66);
    --principal-dark: rgb(22, 22, 22);
    --principal-light: rgb(114, 114, 114);

    --background: rgb(129, 129, 129);
    --background-main: rgb(197, 197, 197);
    --background-login: linear-gradient(var(--principal-dark), var(--principal-light));
    --background-form: rgb(226, 226, 226);
    --background-input: var(--white );
    --font-color-title: var(--white);
    --font-color-main: var(--black);
    --button-hover: rgb(255, 0, 0);
    --white: #f1f1f1;
    --black: #333;
}

:root.dani {
    --principal: rgb(57, 149, 165);
    --principal-dark: rgb(19, 95, 109);
    --principal-light: rgb(24, 37, 153);

    --background: rgb(150, 150, 150);
    --background-main: rgb(197, 197, 197);
    --background-login: linear-gradient(var(--principal-dark), var(--principal-light));
    --background-form: rgb(180, 180, 180);
    --background-input: var(--white );
    --font-color-title: var(--white);
    --font-color-main: var(--black);
    --button-hover: rgb(4, 64, 75);
    --white: #f1f1f1;
    --black: #333;
}

:root.rafa {

}

:root.edel {
    --principal: rgb(176, 94, 120);
    --principal-dark: rgb(120, 63, 82);
    --principal-light: rgb(210, 170, 180);

    --background: rgb(235, 225, 220);
    --background-main: rgb(245, 238, 234);
    --background-login: linear-gradient(var(--principal-dark), var(--principal-light));
    --background-form: rgb(250, 244, 240);
    --background-input: rgb(255, 252, 250);
    --font-color-title: rgb(255, 248, 245);
    --font-color-main: rgb(70, 58, 60);
    --button-hover: rgb(150, 75, 100);
    --white: rgb(255, 250, 248);
    --black: rgb(40, 40, 40);
    --logout-button: rgb(120, 63, 82);
    --logout-button-hover: rgb(150, 75, 100);
}

:root.mangel {
    --principal: rgb(176, 140, 94);
    --principal-dark: rgb(0, 0, 0);
    --principal-light: rgb(0, 123, 239);

    --background: rgb(109, 63, 39);
    --background-main: rgb(255, 230, 128);
    --background-login: linear-gradient(var(--principal-dark), var(--principal-light));
    --background-form: rgb(255, 0, 140);
    --background-input: rgb(255, 0, 230);
    --font-color-title: rgb(0, 0, 0);
    --font-color-main: rgb(70, 58, 60);
    --button-hover: rgb(75, 134, 150);
    --white: rgb(106, 104, 104);
    --black: rgb(255, 200, 200);
    --logout-button: rgb(120, 63, 82);
    --logout-button-hover: rgb(255, 12, 93);
}

